.p-cascadeselect:not(.p-disabled):hover {
    border-color: var(--primary);
}


.p-cascadeselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-100);
    border-color: var(--primary-90);
}

.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item .p-cascadeselect-item-content:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem var(--primary-100);;
}

.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item:not(.p-highlight):not(.p-disabled):hover, 
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item.p-highlight {
    
    background: var(--primary-100);
}
