.p-inputtext:enabled:hover{
    border-color: var(--primary)
}

.p-inputtext:enabled:focus{
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-90);
    border-color: var(--primary);
}

.p-inputtext:enabled:hover,.p-inputtext:enabled:focus + em{
    color: var(--primary);
}

