.p-listbox-list>.p-listbox-item:nth-child(even){
    background-color: #f8f9fa;
}

.p-listbox{
    border: 0;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background-color: var(--primary-100);
    
}

.p-listbox .p-listbox-list .p-listbox-item:focus{
    box-shadow: inset 0 0 0 0.15rem var(--primary-90);
}