.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background: var(--primary-90);
    border-color: var(--primary-90) ;
}

.p-link:focus{
    box-shadow: 0 0 0 0.2rem var(--primary-90) ;
}