.p-slider .p-slider-range {
  background-color: var(--primary);
}

.p-slider .p-slider-handle {
  background: #ffffff;
  border: 2px solid var(--primary);
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--primary);
  border-color: var(--primary);;
}

.p-slider .p-slider-handle:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-100);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: 0 0 0 0.2rem var(--primary-100);
  border-color: var(--primary-90);
}
